<a href="https://colab.research.google.com/github/Jiraporn-klobrat/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Exam: งานกลุ่ม Final ที่อาจารย์สุ่มให้

ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx

( ดาวน์โหลดจาก https://drive.google.com/.../1D... )

โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้
* user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* RowKey เป็น String
* date เป็น YYYY-MM-DD
* phone เป็น String
* site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* time เป็น hh-mm-ss
* urine มีค่า String
* ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
* PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx

โดยข้อมูลสำคัญที่ต้องแสดงคือ
* จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)

**```ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565```**

## **รายชื่อสมาชิก**

ชื่อกลุ่ม: pioned
1. นางสาวสุวิชญา ก้องเวหา 623020455-5
2. นางสาวจิราพร กลบรัตน์ 623020762-6
3. นายวีระพล เพชร์ฤาชา 623021007-7
4. นางสาวทอฝัน พงษ์พิเดช 623021048-3

## **แหล่งข้อมูล**

Drive : https://drive.google.com/drive/u/1/folders/1flfO6qeMSSsKySfOywBoiux73glmV8JG

Dashboard : https://datastudio.google.com/u/1/reporting/b1d08415-72b7-40f4-92a7-e728a7fd1f93/page/jgDqC

## Import Data

In [1]:
import pandas as pd #นำเข้าฟังชันก์ pandas โดยกำหนดให้ชื่อ pd # pandas เป็น Package ที่ใช้เกี่ยวกับการจัดการข้อมูลที่เป็นตาราง , เรียกใช้โดยการ import แล้วตามด้วยชื่อ Package
import os    # เป็น package ที่เอาไว้จัดการไฟล์และเอาไว้ดูที่มาของไฟล์หรือ path

In [2]:
from google.colab import drive    # เชื่อมต่อกับ google drive ที่เราเก็บข้อมูลไว้
drive.mount('/content/drive')
path = '/content/drive/My Drive/Final_Exam'    #ระบุให้ชี้ไปที่โฟลเดอร์ใน google drive ที่เราเซฟไฟล์ไว้ คือ โฟลเดอร์ Final_Exam

Mounted at /content/drive

### ข้อมูล alldb.csv

In [3]:
data_alldb = pd.read_csv(os.path.join(path,'alldb.csv'))    # ไฟล์ที่เราต้องการ  # .read_csv อ่านไฟล์ที่เป็นcsv
data_alldb  # ดูหน้าตาข้อมูลว่าเป็นยังไง

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [4]:
data_alldb.head()  # ดูหน้าตาข้อมูลว่าหัวตารางเป็นยังไง โดยการใช้ .head()

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed

In [5]:
data_alldb.shape    # .shape เพื่อดูขนาดของข้อมูล

(40035, 14)

In [6]:
data_alldb_df = data_alldb[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','title','age']]    ## กำหนดให้ตารางชื่อ data_alldb_df โดยทำการเลือกเก็บข้อมูลในตาราง data_alldb จำนวนทั้งหมด 9  คอลัมน์ 
data_alldb_df   ## แสดงตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,"iPhone13,4",01234,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed

In [7]:
data_alldb_df.dtypes    #ดู type ของข้อมูล

user            object
RowKey          object
date            object
ov              object
phone           object
site            object
time            object
urine           object
PartitionKey    object
title           object
age             object
dtype: object

In [8]:
data_alldb_df.isnull().sum()     #sum ดูค่าmissing

user            762
RowKey            1
date            554
ov              364
phone             3
site             99
time            557
urine           253
PartitionKey    185
title           444
age             542
dtype: int64

#### ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้

**```เปลี่ยน Type data```**

##### user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [9]:
data_alldb_df = data_alldb_df[(data_alldb_df['user'].astype(str).str.isdigit())& (data_alldb_df['user'].str.len() == 5)]     #.str.isdigit ใช้เพื่อตรวจสอบว่าอักขระทั้งหมดเป็นตัวเลขหรือไม่ # เปลี่ยนคอลัมน์ user ให้มีตัวเลข 5 ตัว 
data_alldb_df.head()

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed

In [10]:
data_alldb_df.shape

(38508, 11)

In [11]:
set(data_alldb_df['user'])    # ดู set ข้อมูลของ user

{'94558',
 '00280',
 '31762',
 '26990',
 '63753',
 '38121',
 '94135',
 '36385',
 '48016',
 '19855',
 '14455',
 '62687',
 '13406',
 '00035',
 '00124',
 '95104',
 '96771',
 '13361',
 '96699',
 '00036',
 '34343',
 '17415',
 '05219',
 '00342',
 '41000',
 '46285',
 '36593',
 '31577',
 '80734',
 '48440',
 '46597',
 '44845',
 '00125',
 '05182',
 '16372',
 '02102',
 '16214',
 '24986',
 '46902',
 '61087',
 '00039',
 '61591',
 '24375',
 '20291',
 '12022',
 '73419',
 '62443',
 '76331',
 '77358',
 '68856',
 '12839',
 '10695',
 '29118',
 '26477',
 '83276',
 '19675',
 '84768',
 '87394',
 '14387',
 '52131',
 '00161',
 '22377',
 '00157',
 '18849',
 '54214',
 '00126',
 '80175',
 '94406',
 '21831',
 '33553',
 '40520',
 '32581',
 '58870',
 '36001',
 '37691',
 '49596',
 '28743',
 '28402',
 '71781',
 '86601',
 '00114',
 '00273',
 '02878',
 '37914',
 '59226',
 '23889',
 '52724',
 '58668',
 '97913',
 '31229',
 '50624',
 '01183',
 '99011',
 '70187',
 '57228',
 '44018',
 '28291',
 '67280',
 '82277',
 '20215',
 '96481',
 '26859',
 '89576',
 '14189',
 '11569',
 '95821',
 '65953',
 '73251',
 '02230',
 '03421',
 '44812',
 '61182',
 '83662',
 '93671',
 '19591',
 '52902',
 '63865',
 '50951',
 '00301',
 '51060',
 '94601',
 '58196',
 '94150',
 '14505',
 '00409',
 '93726',
 '97505',
 '43143',
 '00357',
 '00054',
 '74951',
 '32171',
 '00265',
 '81293',
 '54923',
 '11198',
 '17790',
 '44805',
 '87797',
 '10982',
 '77782',
 '93509',
 '46970',
 '98474',
 '00216',
 '00289',
 '00147',
 '73038',
 '00049',
 '00312',
 '85433',
 '30024',
 '00185',
 '06268',
 '14088',
 '00293',
 '55692',
 '12015',
 '39440',
 '00212',
 '68037',
 '04281',
 '68112',
 '68829',
 '73204',
 '04854',
 '54192',
 '48908',
 '05091',
 '19527',
 '45161',
 '01762',
 '98245',
 '65678',
 '00268',
 '62415',
 '70196',
 '47157',
 '62261',
 '00151',
 '00044',
 '56051',
 '47602',
 '71112',
 '38463',
 '59266',
 '74523',
 '37186',
 '08773',
 '10375',
 '55415',
 '67379',
 '09529',
 '46948',
 '58500',
 '37645',
 '48274',
 '30767',
 '49268',
 '74414',
 '00305',
 '18008',
 '63091',
 '24994',
 '05358',
 '08734',
 '64520',
 '95301',
 '30977',
 '92948',
 '38522',
 '59476',
 '81570',
 '32816',
 '47933',
 '33219',
 '28992',
 '77645',
 '37259',
 '00178',
 '87029',
 '00304',
 '68759',
 '38727',
 '71417',
 '56326',
 '98080',
 '17184',
 '18393',
 '28399',
 '78960',
 '06277',
 '29875',
 '77572',
 '25403',
 '87738',
 '71921',
 '74367',
 '28890',
 '19002',
 '92756',
 '42098',
 '39524',
 '00578',
 '43431',
 '20951',
 '26531',
 '20304',
 '75126',
 '19180',
 '14767',
 '00300',
 '20606',
 '41026',
 '04461',
 '70492',
 '84935',
 '97057',
 '63910',
 '53076',
 '63429',
 '63098',
 '78901',
 '63381',
 '02087',
 '49178',
 '61746',
 '67352',
 '86299',
 '96099',
 '00237',
 '49161',
 '74378',
 '29514',
 '23796',
 '22680',
 '51689',
 '03217',
 '52922',
 '39802',
 '79066',
 '00966',
 '06855',
 '24846',
 '98551',
 '00024',
 '40533',
 '84187',
 '66155',
 '16022',
 '15737',
 '26841',
 '00213',
 '78673',
 '28977',
 '23186',
 '89837',
 '40551',
 '49215',
 '97255',
 '38305',
 '79493',
 '22478',
 '00281',
 '98703',
 '51065',
 '42120',
 '15963',
 '33739',
 '16820',
 '54734',
 '19875',
 '00138',
 '84409',
 '67864',
 '71378',
 '19624',
 '42682',
 '73496',
 '81057',
 '61095',
 '22421',
 '10405',
 '86271',
 '29485',
 '61813',
 '29000',
 '60909',
 '67961',
 '00055',
 '09820',
 '46732',
 '73302',
 '59361',
 '03953',
 '59181',
 '47810',
 '77978',
 '67094',
 '52066',
 '30283',
 '70290',
 '24032',
 '28241',
 '65390',
 '14360',
 '00047',
 '04857',
 '34322',
 '00005',
 '65664',
 '05152',
 '31982',
 '49659',
 '55299',
 '00059',
 '00341',
 '66386',
 '64385',
 '24622',
 '01009',
 '04221',
 '37732',
 '28593',
 '14835',
 '00303',
 '14291',
 '52481',
 '90770',
 '46960',
 '60847',
 '39965',
 '53041',
 '58845',
 '64671',
 '95161',
 '37826',
 '53011',
 '01068',
 '63200',
 '28330',
 '00211',
 '43834',
 '36481',
 '00195',
 '84479',
 '47494',
 '59128',
 '26445',
 '61587',
 '04193',
 '45846',
 '25219',
 '00160',
 '94392',
 '02547',
 '00177',
 '54614',
 '26082',
 '24468',
 '90612',
 '38822',
 '00910',
 '05063',
 '10518',
 '00309',
 '19920',
 '00313',
 '90257',
 '14106',
 '00217',
 '26043',
 '63306',
 '38771',
 '26779',
 '92042',
 '21378',
 '10194',
 '75910',
 '00143',
 '34409',
 '54788',
 '99288',
 '46333',
 '11816',
 '08777',
 '51039',
 '19756',
 '00267',
 '00148',
 '64211',
 '00315',
 '86774',
 '50172',
 '25829',
 '05590',
 '74345',
 '90604',
 '22824',
 '63767',
 '80289',
 '92893',
 '48710',
 '35888',
 '68006',
 '00294',
 '19903',
 '31196',
 '80067',
 '33643',
 '14771',
 '32666',
 '00088',
 '13978',
 '66780',
 '03523',
 '42055',
 '54599',
 '03308',
 '00174',
 '00021',
 '49413',
 '51205',
 '00018',
 '31551',
 '48768',
 '13073',
 '49634',
 '10460',
 '70409',
 '41340',
 '69037',
 '31062',
 '07644',
 '01248',
 '00156',
 '60250',
 '19911',
 '99992',
 '08011',
 '23811',
 '05961',
 '00565',
 '32622',
 '94454',
 '16971',
 '11387',
 '81621',
 '03100',
 '25923',
 '00190',
 '19411',
 '00306',
 '42228',
 '25179',
 '61552',
 '81197',
 '51301',
 '08236',
 '34801',
 '98156',
 '33171',
 '37915',
 '86758',
 '17982',
 '00108',
 '77587',
 '87315',
 '18769',
 '50004',
 '03649',
 '42453',
 '95668',
 '45884',
 '00116',
 '45924',
 '23958',
 '00037',
 '00235',
 '00112',
 '94414',
 '72169',
 '05849',
 '29760',
 '00010',
 '53920',
 '18025',
 '25071',
 '24258',
 '00041',
 '51892',
 '00399',
 '24641',
 '27678',
 '00566',
 '72988',
 '47354',
 '72364',
 '23010',
 '19575',
 '36994',
 '26647',
 '02091',
 '17938',
 '54781',
 '52665',
 '70671',
 '00167',
 '75841',
 '83303',
 '20380',
 '09188',
 '00205',
 '37151',
 '15678',
 '00272',
 '07331',
 '45787',
 '01636',
 '60887',
 '53510',
 '16848',
 '62517',
 '26199',
 '10046',
 '00291',
 '46897',
 '39764',
 '00026',
 '36141',
 '63477',
 '99771',
 '84063',
 '78251',
 '00128',
 '63284',
 '16247',
 '00582',
 '50580',
 '26540',
 '00154',
 '60688',
 '06655',
 '19237',
 '53481',
 '00624',
 '32200',
 '15971',
 '97484',
 '02663',
 '02594',
 '00194',
 '00188',
 '02217',
 '00748',
 '46627',
 '00045',
 '32891',
 '59721',
 '00006',
 '00756',
 '09315',
 '00283',
 '16162',
 '00133',
 '70610',
 '26574',
 '94279',
 '36692',
 '70973',
 '86474',
 '34317',
 '00187',
 '14891',
 '11165',
 '06079',
 '88337',
 '49782',
 '89801',
 '40553',
 '00902',
 '61486',
 '39079',
 '55547',
 '03169',
 '74432',
 '00014',
 '80481',
 '10673',
 '49367',
 '68805',
 '49791',
 '81537',
 '38422',
 '27604',
 '63951',
 '91125',
 '32468',
 '02518',
 '88315',
 '99376',
 '37018',
 '00076',
 '19800',
 '88942',
 '66473',
 '26957',
 '82777',
 '45668',
 '77862',
 '06436',
 '00172',
 '02471',
 '00012',
 '77665',
 '00270',
 '04325',
 '00032',
 '36358',
 '47607',
 '05304',
 '23554',
 '12345',
 '00269',
 '64817',
 '00241',
 '22354',
 '86721',
 '76088',
 '27129',
 '06223',
 '15102',
 '00040',
 '96630',
 '16193',
 '54538',
 '15801',
 '25781',
 '19130',
 '97013',
 '63852',
 '19632',
 '87536',
 '06681',
 '00142',
 '42380',
 '39342',
 '89329',
 '00230',
 '49424',
 '48042',
 '17191',
 '70810',
 '87067',
 '53943',
 '42173',
 '00351',
 '87218',
 '27046',
 '00164',
 '08072',
 '58271',
 '67778',
 '38778',
 '29502',
 '04347',
 '88708',
 '10348',
 '06316',
 '17769',
 '49387',
 '18954',
 '14914',
 '37408',
 '06964',
 '07427',
 '00109',
 '00251',
 '00159',
 '20061',
 '89470',
 '31582',
 '41182',
 '77384',
 '33503',
 '24179',
 '45047',
 '94988',
 '18524',
 '03409',
 '02579',
 '12378',
 '44509',
 '85879',
 '73336',
 '08971',
 '48255',
 '84375',
 '57954',
 '20690',
 '10105',
 '54932',
 '27802',
 '44201',
 '22722',
 '62459',
 '35605',
 '00150',
 '64199',
 '87337',
 '12561',
 '00271',
 '00071',
 '03663',
 '37728',
 '20827',
 '03087',
 '04055',
 '89493',
 '22635',
 '30121',
 '00136',
 '16144',
 '62061',
 '76105',
 '29907',
 '95193',
 '09259',
 '07203',
 '65854',
 '00023',
 '31994',
 '04991',
 '19250',
 '05211',
 '00135',
 '20452',
 '08436',
 '66261',
 '69681',
 '49863',
 '23058',
 '08602',
 '02759',
 '02647',
 '38614',
 '19364',
 '85094',
 '66801',
 '24404',
 '00282',
 '00319',
 '00158',
 '61121',
 '61265',
 '50466',
 '55873',
 '39593',
 '28381',
 '55239',
 '05228',
 '39448',
 '51795',
 '01637',
 '10653',
 '47429',
 '00069',
 '47844',
 '62070',
 '61419',
 '54468',
 '05368',
 '68768',
 '74289',
 '01850',
 '55430',
 '75061',
 '02604',
 '33100',
 '38518',
 '00145',
 '62105',
 '81409',
 '28917',
 '65632',
 '00215',
 '11891',
 '31133',
 '05353',
 '66381',
 '66062',
 '00292',
 '63018',
 '04388',
 '00781',
 '64081',
 '32949',
 '39638',
 '45531',
 '37607',
 '29391',
 '85504',
 '29476',
 '29094',
 '16970',
 '59326',
 '48393',
 '39959',
 '98519',
 '94019',
 '72330',
 '03080',
 '96417',
 '50727',
 '85379',
 '00025',
 '00400',
 '27529',
 '01408',
 '95631',
 '41301',
 '02263',
 '75838',
 '47950',
 '73772',
 '24563',
 '97860',
 '82822',
 '19762',
 '18873',
 '00173',
 '19559',
 '72486',
 '20847',
 '03736',
 '00153',
 '00003',
 '86981',
 '70948',
 '01721',
 '24501',
 '05069',
 '55865',
 '62768',
 '87374',
 '13824',
 '89381',
 '89394',
 '65775',
 '83777',
 '00123',
 '26604',
 '39539',
 '14380',
 '15046',
 '34210',
 '00200',
 '00182',
 '02128',
 '66771',
 '47656',
 '84276',
 '00053',
 '52921',
 '17966',
 '00252',
 '46291',
 '26776',
 '65733',
 '10993',
 '10264',
 '02396',
 '66501',
 '90872',
 '26773',
 '31401',
 '75579',
 '18865',
 '03731',
 '33121',
 '67450',
 '00284',
 '47858',
 '30059',
 '09226',
 '51568',
 '62941',
 '05974',
 '00208',
 '56044',
 '99991',
 '85444',
 '00052',
 '00352',
 '26442',
 '00017',
 '29159',
 '91402',
 '82894',
 '11159',
 '28062',
 '69911',
 '85493',
 '04387',
 '64810',
 '79817',
 '47061',
 '89251',
 '31011',
 '75835',
 '15930',
 '98488',
 '92648',
 '00166',
 '65388',
 '46783',
 '76803',
 '69431',
 '52678',
 '01861',
 '84374',
 '83934',
 '42465',
 '44888',
 '00155',
 '00189',
 '73000',
 '00299',
 '77249',
 '97016',
 '83377',
 '11522',
 '70054',
 '46341',
 '50837',
 '35512',
 '54281',
 '22804',
 '79620',
 '84005',
 '31114',
 '27096',
 '48368',
 '16783',
 '23214',
 '23738',
 '65675',
 '31143',
 '08998',
 '06790',
 '58814',
 '84540',
 '74782',
 '59051',
 '41042',
 '05135',
 '34988',
 '00001',
 '04405',
 '05374',
 ...}

##### RowKey เป็น String

In [12]:
import numpy as np

In [13]:
data_alldb_df['RowKey'] = data_alldb_df['RowKey'].astype('str')
data_alldb_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed

In [14]:
data_alldb_df.shape

(38508, 11)

##### date เป็น YYYY-MM-DD

In [15]:
import datetime ## ทำการ import package datetime 
data_alldb_df = pd.DataFrame(data_alldb_df) 
data_alldb_df['date'] = pd.to_datetime(data_alldb_df['date'])    # format = "%d/%m/%Y" 
print(data_alldb_df.shape)
data_alldb_df

(38508, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaT,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),xxxxx,NaN,NaN

In [16]:
data_alldb_df['date'] = data_alldb_df[['date']].fillna(method="ffill")      # เติมค่าว่างของวันที่ด้วย ค่าก่อนหน้า หรือค่าข้างบน
data_alldb_df.head()

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed

In [17]:
data_alldb_df.shape

(38508, 11)

##### phone เป็น String

In [18]:
data_alldb_df['phone'] = data_alldb_df['phone'].astype('str')
data_alldb_df

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN
40017,12345,zgvicawbkg.png,2022-03-10,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),xxxxx,NaN,NaN

In [19]:
data_alldb_df.shape

(38508, 11)

##### site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [20]:
data_alldb_df = data_alldb_df[(data_alldb_df['site'].astype(str).str.isdigit())]     #.str.isdigit ใช้เพื่อตรวจสอบว่าอักขระทั้งหมดเป็นตัวเลขหรือไม่  
data_alldb_df.head()

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed

In [21]:
set(data_alldb_df['site'])    # ดู set ข้อมูลของ site

{'00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05369',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05438',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13377',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

##### time เป็น hh-mm-ss

In [22]:
data_alldb_df['time'] = data_alldb_df['time'].replace(':','-',regex=True) # กำหนดรูปแบบของ time เป็น hh-mm-ss
data_alldb_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10-50-32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10-14-46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11-14-21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10-14-32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17-39-35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,NaN,NaN

##### urine มีค่า String

In [23]:
data_alldb_df['urine'] = data_alldb_df['urine'].astype('str')
data_alldb_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10-50-32,nan,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10-14-46,nan,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11-14-21,nan,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10-14-32,nan,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17-39-35,nan,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,NaN,NaN

In [24]:
set(data_alldb_df['urine'])

{'nan',
 'ขุ่น',
 'ขุ่น, มีตะกอน',
 'ขุ่น, มีตะกอน, มีเม็ดเลือดแดง',
 'ขุ่น, มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'ขุ่น, มีเม็ดเลือดแดง',
 'ขุ่น, สีน้ำนม',
 'ขุ่น, สีเหลืองส้ม (ผิดปกติ)',
 'ขุ่น, ใส่เป็นน้ำเปล่า',
 'ปกติ (เหลืองใส)',
 'ปกติ (เหลืองใส), ขุ่น',
 'ปกติ (เหลืองใส), ขุ่น, มีตะกอน',
 'ปกติ (เหลืองใส), มีตะกอน',
 'ปกติ (เหลืองใส), มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'ปกติ (เหลืองใส), มีเม็ดเลือดแดง',
 'ปกติ (เหลืองใส), สีน้ำนม',
 'ปกติ (เหลืองใส), สีเหลืองส้ม (ผิดปกติ)',
 'ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า',
 'ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า, สีน้ำนม',
 'มีตะกอน',
 'มีตะกอน, มีเม็ดเลือดแดง',
 'มีตะกอน, มีเม็ดเลือดแดง, สีเหลืองส้ม (ผิดปกติ)',
 'มีตะกอน, มีเลือดปน',
 'มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'มีตะกอน, ใส่เป็นน้ำเปล่า',
 'มีเม็ดเลือดแดง',
 'มีเลือดปน',
 'มีเลือดปน, สีเหลืองส้ม (ผิดปกติ)',
 'สีน้ำนม',
 'สีฟ้า หรือน้ำเงิน',
 'สีเหลืองส้ม (ผิดปกติ)',
 'ใสเป็นน้ำเปล่า',
 'ใส่เป็นน้ำเปล่า',
 'ใส่เป็นน้ำเปล่า, สีฟ้า หรือน้ำเงิน'}

##### ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [25]:
set(data_alldb_df['ov'])

{'0', '1', '2', '3', '4', nan, 'ติดเชื้อ +2 '}

In [26]:
data_alldb_df['ov'] = pd.to_numeric(data_alldb_df['ov'], errors='coerce') # เปลี่ยนให้เป็นตัวเลขเท่านั้น
data_alldb_df = data_alldb_df.replace(np.nan, 0, regex=True) 
data_alldb_df['ov'] = data_alldb_df['ov'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
set(data_alldb_df['ov'])

{0, 1, 2, 3, 4}

##### PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))

In [28]:
data_alldb_df

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,0,"iPhone10,4",05310,10-50-32,nan,0,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,0,"iPhone13,2",05248,10-14-46,nan,0,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,0,"iPhone10,4",05310,11-14-21,nan,0,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,0,"iPhone13,2",05248,10-14-32,nan,0,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,0,"iPhone13,3",22222,17-39-35,nan,0,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,0,0
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,0,0
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,0,0
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,0,0
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,0,0

In [29]:
data_alldb_df.head(30)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,0,"iPhone10,4",05310,10-50-32,nan,0,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,0,"iPhone13,2",05248,10-14-46,nan,0,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,0,"iPhone10,4",05310,11-14-21,nan,0,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,0,"iPhone13,2",05248,10-14-32,nan,0,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,0,"iPhone13,3",22222,17-39-35,nan,0,data is not completed,data is not completed
17,11111,F1C573A6-D353-44D6-8046-052237DA9220,2022-02-27,0,"iPhone13,3",22222,17-30-18,nan,0,data is not completed,data is not completed
38,48368,cttsajptww.png,2022-02-24,1,OPPO CPH1969,05081,10-31-10,ปกติ (เหลืองใส),0,data is not completed,data is not completed
44,40881,dzvoblimkf.png,2022-02-26,2,HUAWEI STK-L22,05435,09-32-32,ปกติ (เหลืองใส),0,data is not completed,data is not completed
54,56845,ftuhzneacx.png,2022-03-02,0,Samsung SM-A505F,05440,10-09-13,สีเหลืองส้ม (ผิดปกติ),0,data is not completed,data is not completed
72,99250,hynbuxzgpf.png,2022-02-27,3,Xiaomi 2109119DG,11066,16-12-11,ปกติ (เหลืองใส),0,data is not completed,data is not completed
74,77645,iciurjxsbw.png,2022-02-25,0,Samsung SM-N960F,05084,13-14-20,ปกติ (เหลืองใส),0,data is not completed,data is not completed
95,77645,mkzzcqumwo.png,2022-02-25,0,Samsung SM-N960F,05084,12-51-08,ปกติ (เหลืองใส),0,data is not completed,data is not completed
97,99250,mqmquowhfx.png,2022-02-26,1,Xiaomi 2109119DG,11066,20-06-57,ปกติ (เหลืองใส),0,data is not completed,data is not completed
121,99250,qmpypasecv.png,2022-02-26,0,Xiaomi 2109119DG,11066,20-02-57,ปกติ (เหลืองใส),0,data is not completed,data is not completed
124,34711,raeqahnqug.png,2022-02-24,1,Realme RMX2111,05250,12-25-26,ปกติ (เหลืองใส),0,data is not completed,data is not completed
140,43431,tufxopjuuy.png,2022-02-24,0,Realme RMX2030,11084,11-28-14,ปกติ (เหลืองใส),0,data is not completed,data is not completed
149,34711,uhorkauabs.png,2022-02-24,1,Realme RMX2111,05250,12-13-56,ปกติ (เหลืองใส),0,data is not completed,data is not completed
151,17536,utgxovcenz.png,2022-02-22,0,OPPO CPH2239,05080,10-35-30,ปกติ (เหลืองใส),0,data is not completed,data is not completed
158,34711,vrlbkvtugf.png,2022-02-24,4,OPPO CPH1931,05250,12-10-03,ปกติ (เหลืองใส),0,data is not completed,data is not completed
177,29379,zcxmsmjpjd.png,2022-02-24,0,Samsung SM-N950F,05254,10-58-45,ปกติ (เหลืองใส),0,data is not completed,data is not completed
185,85879,shmpdrmtgc.png,2022-03-24,0,OPPO CPH2293,05194,13-08-39,มีตะกอน,0000,0,0
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14-22-22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50
196,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,นางสาว,57
197,06277,1DDA8B23-D1EA-4E15-AE70-1E7FE53733B6,2022-03-25,2,"iPhone14,3",06277,10-13-51,ปกติ (เหลืองใส),00001,นาย,67

In [30]:
set(data_alldb_df['PartitionKey'])    # ดู set ข้อมูลของ PartitionKey

{0,
 '02048',
 '02426',
 '04174',
 '09009',
 '02022',
 '00102',
 '00280',
 '03309',
 '01282',
 '06008',
 '01455',
 '02623',
 '01172',
 '02559',
 '00770',
 '08978',
 '00364',
 '00124',
 '04653',
 '00035',
 '00813',
 '03319',
 '00577',
 '03254',
 '02180',
 '04687',
 '05310',
 '02288',
 '01155',
 '01686',
 '00036',
 '08963',
 '0059',
 '00534',
 '03003',
 '05219',
 '00342',
 '01013',
 '01876',
 '00916',
 '01912',
 '03533',
 '02726',
 '03060',
 '00465',
 '00547',
 '00546',
 '01422',
 '01276',
 '06185',
 '01314',
 '00125',
 '00908',
 '01224',
 '04678',
 '01731',
 '00509',
 '08959',
 '72093',
 '02284',
 '00539',
 '00721',
 '00254',
 '01277',
 '01360',
 '01862',
 '00863',
 '05718',
 '00484',
 '01035',
 '05316',
 '88432',
 '00766',
 '01867',
 '04673',
 '00039',
 '01366',
 '09000',
 '00332',
 '02408',
 '01190',
 '60202',
 '00833',
 '00333',
 '00797',
 '01081',
 '01734',
 '01028',
 '01772',
 '04680',
 '00358',
 '05105',
 '06730',
 '00555',
 '05139',
 '01098',
 '0030',
 '00790',
 '04629',
 '00327',
 '00960',
 '00238',
 '02244',
 '08913',
 '02558',
 '01775',
 '00903',
 '00464',
 '00758',
 '02024',
 '02042',
 '03363',
 '00924',
 '03151',
 '02644',
 '09004',
 '00161',
 '02936',
 '02791',
 '04628',
 '04813',
 '02335',
 '00157',
 '05323',
 '00126',
 '06043',
 '09042',
 '05308',
 '02053',
 '03389',
 '01525',
 '03126',
 '00574',
 '01994',
 '04090',
 '01074',
 '01924',
 '02205',
 '01289',
 '01243',
 '02314',
 '00526',
 '02624',
 '02884',
 '01104',
 '03954',
 '00752',
 '114',
 '01893',
 '01173',
 '00114',
 '01526',
 '00273',
 '01080',
 '00375',
 '02878',
 '00426',
 '02119',
 '02951',
 '02413',
 '00389',
 '08927',
 '04753',
 '00256',
 '00835',
 '10985',
 '01704',
 '08278',
 '02012',
 '02676',
 '02480',
 '04788',
 '00944',
 '0010',
 '05721',
 '02671',
 '03176',
 '04785',
 '01652',
 '00821',
 '00592',
 '02106',
 '00062',
 '01863',
 '01183',
 '03229',
 '01533',
 '00923',
 '02338',
 '06720',
 '01508',
 '01781',
 '04738',
 '04631',
 '00954',
 '01031',
 '05983',
 '0090',
 '00878',
 '02093',
 '03019',
 '01378',
 '01331',
 '03109',
 '01270',
 '03110',
 '01873',
 '02212',
 '02230',
 '00482',
 '00593',
 '05318',
 '02423',
 '03356',
 '03496',
 '00897',
 '00975',
 '02926',
 '01139',
 '08938',
 '00435',
 '02143',
 '00301',
 '00415',
 '00737',
 '001',
 '01896',
 '01582',
 '00887',
 '00749',
 '01688',
 '01047',
 '01320',
 '00409',
 '00767',
 '00990',
 '00357',
 '01631',
 '00796',
 '02987',
 '000167',
 '00054',
 '01588',
 '08904',
 '00664',
 '01708',
 '00584',
 '00265',
 '00677',
 '04168',
 '10976',
 '00486',
 '10972',
 '02761',
 '02977',
 '00496',
 '01333',
 '00111',
 '00448',
 '01987',
 '02189',
 '02548',
 '02864',
 '00885',
 '15069',
 '00711',
 '01050',
 '03725',
 '03506',
 '01198',
 '00918',
 '10982',
 '03072',
 '05107',
 '00216',
 '00289',
 '01925',
 '00147',
 '02710',
 '01951',
 '03395',
 '00049',
 '00312',
 '02557',
 '00791',
 '08937',
 '01095',
 '01764',
 '03549',
 '01947',
 '00516',
 '00185',
 '0014',
 '02536',
 '00452',
 '00661',
 '01067',
 '00293',
 '01770',
 '02404',
 '02909',
 '02005',
 '10965',
 '01291',
 '01836',
 '03062',
 '00212',
 '05204',
 '00510',
 '00580',
 '02240',
 '01598',
 '04691',
 '03133',
 '00968',
 '01227',
 '02509',
 '02619',
 '06016',
 '02760',
 '198',
 '05091',
 '02446',
 '01528',
 '02250',
 '04630',
 '02818',
 '01792',
 '02038',
 '01762',
 '01029',
 '05997',
 '01667',
 '00568',
 '03373',
 '01085',
 '02442',
 '00268',
 '05220',
 '02345',
 '06047',
 '01681',
 '00151',
 '00044',
 '01117',
 '04019',
 '03068',
 '01207',
 '00350',
 '01350',
 '01696',
 '00537',
 '05965',
 '09026',
 '02377',
 '00896',
 '02585',
 '00848',
 '03182',
 '05172',
 '03233',
 '00601',
 '00834',
 '08962',
 '01293',
 '02670',
 '03112',
 '01052',
 '01697',
 '04186',
 '02319',
 '00483',
 '00921',
 '02253',
 '01076',
 '00305',
 '01549',
 '00992',
 '01348',
 '06009',
 '02887',
 '00778',
 '01450',
 '00724',
 '00888',
 '08902',
 '00734',
 '00845',
 '00951',
 '00331',
 '00984',
 '01066',
 '03299',
 '01437',
 '04735',
 '01567',
 '01258',
 '04793',
 '01856',
 '00531',
 '01865',
 '02177',
 '00095',
 '01285',
 '00955',
 '08928',
 '01266',
 '02505',
 '01363',
 '04669',
 '00962',
 '05200',
 '00950',
 '00869',
 '02779',
 '01433',
 '01632',
 '01748',
 '08975',
 '05724',
 '00178',
 '01175',
 '00259',
 '00304',
 '01300',
 '01800',
 '02704',
 '05128',
 '03122',
 '00229',
 '01001',
 '02918',
 '09034',
 '02822',
 '01239',
 '02422',
 '01767',
 '00862',
 '03420',
 '05780',
 '01822',
 '03141',
 '04036',
 '03394',
 '01368',
 '00851',
 '00119',
 '00570',
 '01292',
 '01100',
 '01381',
 '03372',
 '05806',
 '00337',
 '02778',
 '00538',
 '00578',
 '03165',
 '06019',
 '00441',
 '01818',
 '08968',
 '01318',
 '02036',
 '00300',
 '01915',
 '01287',
 '01645',
 '02755',
 '01705',
 '05967',
 '89170',
 '01695',
 '02360',
 '04696',
 '02153',
 '08985',
 '02611',
 '00696',
 '00595',
 '01669',
 '02768',
 '02953',
 '01233',
 '03005',
 '03383',
 '00621',
 '05982',
 '00889',
 '01032',
 '01179',
 '01392',
 '04643',
 '00929',
 '02538',
 '02892',
 '01330',
 '00783',
 '00237',
 '01299',
 '05098',
 '01857',
 '05289',
 '02008',
 '01580',
 '01280',
 '02330',
 '00606',
 '02598',
 '03217',
 '04730',
 '02495',
 '01949',
 '01984',
 '0077',
 '00620',
 '00966',
 '06061',
 '04777',
 '00717',
 '00024',
 '00725',
 '04038',
 '02877',
 '1881',
 '00213',
 '00993',
 '00432',
 '01257',
 '02076',
 '01670',
 '02348',
 '983',
 '03315',
 '01888',
 '00785',
 '00528',
 '01554',
 '01584',
 '01827',
 '04632',
 '02242',
 '00281',
 '01041',
 '05354',
 '02050',
 '00264',
 '01671',
 '02291',
 '08992',
 '10980',
 '00838',
 '10978',
 '01691',
 '01829',
 '02272',
 '02651',
 '02621',
 '02880',
 '00446',
 '08982',
 '01482',
 '00330',
 '01842',
 '00083\u200b',
 '01091',
 '01633',
 '02156',
 '05133',
 '02380',
 '00485',
 '00138',
 '00980',
 '02416',
 '01723',
 '01796',
 '01219',
 '02249',
 '01457',
 '02166',
 '01125',
 '00110',
 '00551',
 '01102',
 '00473',
 '02379',
 '01296',
 '00518',
 '01382',
 '0142',
 '02531',
 '03333',
 '03511',
 '00746',
 '03546',
 '00392',
 '02152',
 '00055',
 '00398',
 '00994',
 '04014',
 '0086',
 '01415',
 '01271',
 '00720',
 '03379',
 '01389',
 '02341',
 '00777',
 '00900',
 '02544',
 '01177',
 '02001',
 '08965',
 '00780',
 '02151',
 '00679',
 '01489',
 '04782',
 '08939',
 '05987',
 '02366',
 '00457',
 '01369',
 '00658',
 '04650',
 '02981',
 '01657',
 '01891',
 '02850',
 '01529',
 '09031',
 '00047',
 '02754',
 '01798',
 '03345',
 '00005',
 '00380',
 '05382',
 '00354',
 '01002',
 '01423',
 '00059',
 '00619',
 '02452',
 '00714',
 '00341',
 '05960',
 '01848',
 '04679',
 '00603',
 '09036',
 '00605',
 '01009',
 '01943',
 '05963',
 '01843',
 '00824',
 '02731',
 '02713',
 '09044',
 '03178',
 '01284',
 '01345',
 '01187',
 '02662',
 '00303',
 '02972',
 '01898',
 '01026',
 '01516',
 '00643',
 '01274',
 '0143',
 '01746',
 '02424',
 '00347',
 '00611',
 '00648',
 '00957',
 '00967',
 '99444',
 '00449',
 '02858',
 '00739',
 '08314',
 '00498',
 '01068',
 '03183',
 '02999',
 '00211',
 '01226',
 '01789',
 '04634',
 '00495',
 '00195',
 '01714',
 '01579',
 '02125',
 '01710',
 '03298',
 '03207',
 '01401',
 '02210',
 '02451',
 '03510',
 '04193',
 '02915',
 '02978',
 '00707',
 '04695',
 '00436',
 '00160',
 '02968',
 '02547',
 '00177',
 '03398',
 '05991',
 '02223',
 '02437',
 '01294',
 '01707',
 '02216',
 '00558',
 '02176',
 '01903',
 '03156',
 '02819',
 '00910',
 '06505',
 '00654',
 '01356',
 '02638',
 '00671',
 '00407',
 '01777',
 '01460',
 '00309',
 '01150',
 '01872',
 '01968',
 '02631',
 '03054',
 '01017',
 '05121',
 '00313',
 '03200',
 '01027',
 '03142',
 '03221',
 '00872',
 '01821',
 '00217',
 '01769',
 '0012',
 '00540',
 '0075',
 '00806',
 '11002',
 '02994',
 '00506',
 '01814',
 '02420',
 '00378',
 '00419',
 '03199',
 '02672',
 '00143',
 '02049',
 '03287',
 '00736',
 '02009',
 '05118',
 '02487',
 '01340',
 '02537',
 '03300',
 '02117',
 '00816',
 '00523',
 '00199',
 '01887',
 '05132',
 '179',
 '03317',
 '00267',
 '00148',
 '01157',
 '10967',
 '91123',
 '01417',
 '00733',
 '01208',
 '00315',
 '03292',
 '02848',
 '03529',
 '08994',
 '01521',
 '10977',
 '01256',
 '02313',
 '00680',
 '01751',
 '02004',
 '03255',
 '01832',
 '08988',
 '01148',
 '02062',
 '02434',
 '00294',
 '02030',
 '02083',
 '00077',
 '03711',
 '01230',
 '01693',
 '00533',
 '03033',
 '04766',
 '00683',
 '01132',
 '11163',
 '02643',
 '00995',
 '03563',
 '06004',
 '08916',
 '01559',
 '00088',
 '00530',
 '04115',
 '00695',
 '04641',
 '02807',
 '01342',
 '00948',
 '01575',
 '00500',
 '01618',
 '00174',
 '01189',
 '00871',
 '02265',
 '03088',
 '03290',
 '02149',
 '03998',
 '00021',
 '09040',
 '03272',
 '02098',
 '09007',
 '00784',
 '06145',
 '00602',
 '00018',
 '00660',
 '01438',
 '01997',
 '02597',
 '01222',
 '02026',
 '01761',
 '01147',
 '03948',
 '03328',
 '01492',
 '04013',
 '02190',
 '00097',
 '01250',
 '01248',
 '03322',
 '01434',
 '00367',
 '03121',
 '00156',
 '03980',
 '01056',
 '00938',
 '02061',
 '09033',
 '01480',
 '02197',
 '00969',
 '02802',
 '02668',
 '03096',
 '08972',
 '02859',
 '03614',
 '02215',
 '02120',
 '01520',
 '00701',
 '02301',
 '02020',
 '00428',
 '00662',
 '05141',
 '03181',
 '02222',
 '05961',
 '00716',
 '01964',
 '00565',
 '02886',
 '00371',
 '03310',
 '02680',
 '01275',
 '00865',
 '02620',
 '01940',
 '00373',
 '01093',
 '02675',
 '06028',
 '00594',
 '09014',
 '01454',
 '03100',
 '03067',
 '04671',
 '02602',
 '00190',
 '00306',
 '05342',
 '05126',
 '03059',
 '01140',
 '02028',
 '04136',
 '01049',
 '89',
 '00543',
 '02000',
 '01656',
 '00956',
 '02824',
 '01802',
 '03538',
 '04189',
 '01395',
 '00108',
 '06729',
 '01911',
 '02095',
 '02812',
 '01162',
 '02578',
 '05093',
 '03065',
 '00480',
 '01806',
 '00841',
 '02204',
 '01387',
 '01127',
 '03504',
 '00567',
 '00116',
 '05244',
 '00037',
 '02975',
 '00639',
 '06039',
 '01407',
 '00064',
 '00235',
 '00421',
 '01983',
 '02673',
 '00112',
 '00429',
 '01561',
 '02875',
 '02900',
 '08947',
 '03877',
 '00487',
 '01016',
 '02351',
 '00805',
 '02406',
 '00056',
 '00892',
 '04183',
 '04052',
 '02589',
 '03101',
 '00010',
 '01191',
 '01989',
 '08923',
 '00554',
 '00604',
 ...}

In [31]:
data_alldb_df = data_alldb_df[(data_alldb_df['PartitionKey'].astype(str).str.isdigit())& (data_alldb_df['PartitionKey'].str.len() == 5)]     #.str.isdigit ใช้เพื่อตรวจสอบว่าอักขระทั้งหมดเป็นตัวเลขหรือไม่ # เปลี่ยนคอลัมน์ user ให้มีตัวเลข 5 ตัว 
data_alldb_df

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,0,0
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,0,0
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,0,0
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,0,0
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,0,0

In [32]:
set(data_alldb_df['PartitionKey'])    # ดู set ข้อมูลของ PartitionKey

{'02048',
 '04174',
 '02426',
 '09009',
 '02022',
 '00102',
 '00280',
 '03309',
 '01282',
 '06008',
 '01455',
 '02623',
 '01172',
 '02559',
 '00770',
 '08978',
 '00364',
 '00124',
 '04653',
 '00035',
 '00813',
 '03319',
 '00577',
 '03254',
 '02180',
 '04687',
 '05310',
 '02288',
 '01155',
 '01686',
 '00036',
 '08963',
 '00534',
 '03003',
 '05219',
 '00342',
 '01013',
 '01876',
 '00916',
 '01912',
 '03533',
 '02726',
 '03060',
 '00465',
 '00547',
 '00546',
 '01422',
 '01276',
 '06185',
 '01314',
 '00125',
 '00908',
 '01224',
 '04678',
 '01731',
 '00509',
 '08959',
 '72093',
 '02284',
 '00539',
 '00721',
 '00254',
 '01277',
 '01360',
 '01862',
 '00863',
 '05718',
 '00484',
 '01035',
 '05316',
 '88432',
 '00766',
 '01867',
 '04673',
 '00039',
 '01366',
 '09000',
 '00332',
 '02408',
 '01190',
 '60202',
 '00833',
 '00333',
 '00797',
 '01081',
 '01734',
 '01028',
 '01772',
 '04680',
 '00358',
 '05105',
 '06730',
 '00555',
 '05139',
 '01098',
 '00790',
 '04629',
 '00327',
 '00960',
 '00238',
 '02244',
 '08913',
 '02558',
 '01775',
 '00903',
 '00464',
 '00758',
 '02024',
 '02042',
 '03363',
 '00924',
 '03151',
 '02644',
 '09004',
 '00161',
 '02936',
 '02791',
 '04628',
 '04813',
 '02335',
 '00157',
 '05323',
 '00126',
 '06043',
 '09042',
 '05308',
 '02053',
 '03389',
 '01525',
 '03126',
 '00574',
 '01994',
 '04090',
 '01074',
 '01924',
 '02205',
 '01289',
 '01243',
 '02314',
 '00526',
 '02624',
 '02884',
 '01104',
 '03954',
 '00752',
 '01893',
 '01173',
 '00114',
 '01526',
 '00273',
 '01080',
 '00375',
 '02878',
 '00426',
 '02119',
 '02951',
 '02413',
 '00389',
 '08927',
 '04753',
 '00256',
 '00835',
 '10985',
 '01704',
 '08278',
 '02012',
 '02676',
 '02480',
 '04788',
 '00944',
 '05721',
 '02671',
 '03176',
 '04785',
 '01652',
 '00821',
 '00592',
 '02106',
 '00062',
 '01863',
 '01183',
 '03229',
 '01533',
 '00923',
 '02338',
 '06720',
 '01508',
 '01781',
 '04738',
 '04631',
 '00954',
 '01031',
 '05983',
 '02093',
 '00878',
 '03019',
 '03109',
 '01378',
 '01331',
 '01270',
 '03110',
 '01873',
 '02212',
 '02230',
 '00482',
 '00593',
 '05318',
 '02423',
 '03356',
 '03496',
 '00897',
 '00975',
 '02926',
 '01139',
 '08938',
 '00435',
 '02143',
 '00301',
 '00415',
 '00737',
 '01896',
 '01582',
 '00887',
 '00749',
 '01688',
 '01047',
 '01320',
 '00409',
 '00767',
 '00990',
 '00357',
 '01631',
 '00796',
 '02987',
 '00054',
 '01588',
 '08904',
 '00664',
 '01708',
 '00584',
 '00265',
 '00677',
 '04168',
 '10976',
 '00486',
 '10972',
 '02761',
 '02977',
 '00496',
 '01333',
 '00111',
 '00448',
 '01987',
 '02189',
 '02548',
 '02864',
 '00885',
 '15069',
 '00711',
 '01050',
 '03725',
 '03506',
 '01198',
 '00918',
 '10982',
 '03072',
 '05107',
 '00216',
 '00289',
 '01925',
 '00147',
 '02710',
 '01951',
 '03395',
 '00049',
 '00312',
 '02557',
 '00791',
 '08937',
 '01095',
 '01764',
 '03549',
 '01947',
 '00516',
 '00185',
 '02536',
 '00452',
 '00661',
 '01067',
 '00293',
 '01770',
 '02404',
 '02909',
 '02005',
 '10965',
 '01291',
 '01836',
 '03062',
 '00212',
 '05204',
 '00510',
 '00580',
 '02240',
 '01598',
 '04691',
 '03133',
 '00968',
 '01227',
 '02509',
 '02619',
 '06016',
 '02760',
 '05091',
 '02446',
 '01528',
 '02250',
 '04630',
 '02818',
 '01792',
 '02038',
 '01762',
 '01029',
 '05997',
 '01667',
 '00568',
 '03373',
 '01085',
 '02442',
 '00268',
 '05220',
 '02345',
 '06047',
 '01681',
 '00151',
 '00044',
 '01117',
 '04019',
 '03068',
 '01207',
 '00350',
 '01350',
 '01696',
 '00537',
 '05965',
 '09026',
 '02377',
 '00896',
 '02585',
 '00848',
 '03182',
 '05172',
 '03233',
 '00601',
 '00834',
 '08962',
 '01293',
 '02670',
 '03112',
 '01052',
 '01697',
 '04186',
 '02319',
 '00483',
 '00921',
 '02253',
 '01076',
 '00305',
 '01549',
 '00992',
 '01348',
 '06009',
 '02887',
 '00778',
 '01450',
 '00724',
 '00888',
 '08902',
 '00734',
 '00845',
 '00951',
 '00331',
 '00984',
 '01066',
 '03299',
 '01437',
 '04735',
 '01567',
 '01258',
 '04793',
 '01856',
 '00531',
 '01865',
 '02177',
 '00095',
 '01285',
 '00955',
 '08928',
 '01266',
 '02505',
 '01363',
 '04669',
 '00962',
 '05200',
 '00950',
 '00869',
 '02779',
 '01433',
 '01632',
 '01748',
 '08975',
 '05724',
 '00178',
 '01175',
 '00259',
 '00304',
 '01300',
 '01800',
 '02704',
 '05128',
 '03122',
 '00229',
 '01001',
 '02918',
 '09034',
 '02822',
 '01239',
 '02422',
 '01767',
 '00862',
 '03420',
 '05780',
 '01822',
 '03141',
 '04036',
 '03394',
 '01368',
 '00851',
 '00119',
 '00570',
 '01292',
 '01100',
 '01381',
 '03372',
 '05806',
 '00337',
 '02778',
 '00538',
 '00578',
 '03165',
 '06019',
 '00441',
 '01818',
 '08968',
 '01318',
 '02036',
 '00300',
 '01915',
 '01287',
 '01645',
 '02755',
 '01705',
 '05967',
 '89170',
 '01695',
 '02360',
 '04696',
 '02153',
 '08985',
 '02611',
 '00696',
 '00595',
 '01669',
 '02768',
 '02953',
 '01233',
 '03005',
 '03383',
 '00621',
 '05982',
 '00889',
 '01032',
 '01179',
 '01392',
 '04643',
 '00929',
 '02538',
 '02892',
 '01330',
 '00783',
 '00237',
 '01299',
 '05098',
 '01857',
 '05289',
 '02008',
 '01580',
 '01280',
 '02330',
 '00606',
 '02598',
 '03217',
 '04730',
 '02495',
 '01949',
 '01984',
 '00620',
 '00966',
 '06061',
 '04777',
 '00717',
 '00024',
 '00725',
 '04038',
 '02877',
 '00213',
 '00993',
 '00432',
 '01257',
 '02076',
 '01670',
 '02348',
 '03315',
 '01888',
 '00785',
 '00528',
 '01554',
 '01584',
 '01827',
 '04632',
 '02242',
 '00281',
 '01041',
 '05354',
 '02050',
 '00264',
 '01671',
 '02291',
 '08992',
 '10980',
 '00838',
 '10978',
 '01691',
 '01829',
 '02272',
 '02651',
 '02621',
 '02880',
 '00446',
 '08982',
 '01482',
 '00330',
 '01842',
 '01091',
 '01633',
 '02156',
 '05133',
 '02380',
 '00485',
 '00138',
 '00980',
 '02416',
 '01723',
 '01796',
 '01219',
 '02249',
 '01457',
 '02166',
 '01125',
 '00110',
 '00551',
 '01102',
 '00473',
 '02379',
 '01296',
 '00518',
 '01382',
 '02531',
 '03333',
 '03511',
 '00746',
 '03546',
 '00392',
 '02152',
 '00055',
 '00398',
 '00994',
 '04014',
 '01415',
 '01271',
 '00720',
 '03379',
 '01389',
 '02341',
 '00777',
 '00900',
 '02544',
 '01177',
 '02001',
 '08965',
 '00780',
 '02151',
 '00679',
 '01489',
 '04782',
 '08939',
 '05987',
 '02366',
 '00457',
 '01369',
 '00658',
 '04650',
 '02981',
 '01657',
 '01891',
 '02850',
 '01529',
 '09031',
 '00047',
 '02754',
 '01798',
 '03345',
 '00005',
 '00380',
 '05382',
 '00354',
 '01002',
 '01423',
 '00059',
 '00619',
 '02452',
 '00714',
 '00341',
 '05960',
 '01848',
 '04679',
 '00603',
 '09036',
 '00605',
 '01009',
 '01943',
 '05963',
 '01843',
 '00824',
 '02731',
 '02713',
 '09044',
 '03178',
 '01284',
 '01345',
 '01187',
 '02662',
 '00303',
 '02972',
 '01898',
 '01026',
 '01516',
 '00643',
 '01274',
 '01746',
 '02424',
 '00347',
 '00611',
 '00648',
 '00957',
 '00967',
 '99444',
 '00449',
 '02858',
 '00739',
 '08314',
 '00498',
 '01068',
 '03183',
 '02999',
 '00211',
 '01226',
 '01789',
 '04634',
 '00495',
 '00195',
 '01714',
 '01579',
 '02125',
 '01710',
 '03298',
 '03207',
 '01401',
 '02210',
 '02451',
 '03510',
 '04193',
 '02915',
 '02978',
 '00707',
 '04695',
 '00436',
 '00160',
 '02968',
 '02547',
 '00177',
 '03398',
 '05991',
 '02223',
 '02437',
 '01294',
 '01707',
 '02216',
 '00558',
 '02176',
 '01903',
 '03156',
 '02819',
 '00910',
 '06505',
 '00654',
 '01356',
 '02638',
 '00671',
 '00407',
 '01777',
 '01460',
 '00309',
 '01150',
 '01872',
 '01968',
 '02631',
 '03054',
 '01017',
 '05121',
 '00313',
 '03200',
 '01027',
 '03142',
 '03221',
 '00872',
 '01821',
 '00217',
 '01769',
 '00540',
 '00806',
 '11002',
 '02994',
 '00506',
 '01814',
 '02420',
 '00378',
 '00419',
 '03199',
 '02672',
 '00143',
 '02049',
 '03287',
 '00736',
 '02009',
 '05118',
 '02487',
 '01340',
 '02537',
 '03300',
 '02117',
 '00816',
 '00523',
 '00199',
 '01887',
 '05132',
 '03317',
 '00267',
 '00148',
 '01157',
 '10967',
 '91123',
 '01417',
 '00733',
 '01208',
 '00315',
 '03292',
 '02848',
 '03529',
 '08994',
 '01521',
 '10977',
 '01256',
 '02313',
 '00680',
 '01751',
 '02004',
 '03255',
 '01832',
 '08988',
 '01148',
 '02062',
 '02434',
 '00294',
 '02030',
 '02083',
 '00077',
 '03711',
 '01230',
 '01693',
 '00533',
 '03033',
 '04766',
 '00683',
 '01132',
 '11163',
 '02643',
 '00995',
 '03563',
 '06004',
 '08916',
 '01559',
 '00088',
 '00530',
 '04115',
 '00695',
 '04641',
 '02807',
 '01342',
 '00948',
 '01575',
 '00500',
 '01618',
 '00174',
 '01189',
 '00871',
 '02265',
 '03088',
 '03290',
 '02149',
 '03998',
 '00021',
 '09040',
 '03272',
 '02098',
 '09007',
 '00784',
 '06145',
 '00602',
 '00018',
 '00660',
 '01438',
 '01997',
 '02597',
 '01222',
 '02026',
 '01761',
 '01147',
 '03948',
 '03328',
 '01492',
 '04013',
 '02190',
 '00097',
 '01250',
 '01248',
 '03322',
 '01434',
 '00367',
 '03121',
 '00156',
 '03980',
 '01056',
 '00938',
 '02061',
 '09033',
 '01480',
 '02197',
 '00969',
 '02802',
 '02668',
 '03096',
 '08972',
 '02859',
 '03614',
 '02215',
 '02120',
 '01520',
 '00701',
 '02301',
 '02020',
 '00428',
 '00662',
 '05141',
 '03181',
 '02222',
 '05961',
 '00716',
 '01964',
 '00565',
 '02886',
 '00371',
 '03310',
 '02680',
 '01275',
 '00865',
 '02620',
 '01940',
 '00373',
 '01093',
 '02675',
 '06028',
 '00594',
 '09014',
 '01454',
 '03100',
 '03067',
 '04671',
 '02602',
 '00190',
 '00306',
 '05342',
 '05126',
 '03059',
 '01140',
 '02028',
 '04136',
 '01049',
 '00543',
 '02000',
 '01656',
 '00956',
 '02824',
 '01802',
 '03538',
 '04189',
 '01395',
 '00108',
 '06729',
 '01911',
 '02095',
 '02812',
 '01162',
 '02578',
 '05093',
 '03065',
 '00480',
 '01806',
 '00841',
 '02204',
 '01387',
 '01127',
 '03504',
 '00567',
 '00116',
 '05244',
 '00037',
 '02975',
 '00639',
 '06039',
 '01407',
 '00064',
 '00235',
 '00421',
 '01983',
 '02673',
 '00112',
 '00429',
 '01561',
 '02875',
 '02900',
 '08947',
 '03877',
 '00487',
 '01016',
 '02351',
 '00805',
 '02406',
 '00056',
 '00892',
 '04183',
 '04052',
 '02589',
 '03101',
 '00010',
 '01191',
 '01989',
 '08923',
 '00554',
 '00604',
 '00041',
 '05986',
 '00399',
 '00381',
 '02776',
 '02997',
 '01472',
 '00566',
 '02243',
 '03542',
 '01411',
 '02561',
 '00401',
 '08995',
 '01706',
 '00579',
 '02068',
 '00609',
 '02154',
 '06182',
 '00167',
 ...}

#### แก้ไขข้อมูลที่น่าสนใจ

**```'title','age'```**

In [33]:
data_alldb_df  ## เลือกเฉพาะคอลัมน์ที่สนใจในตาราง data_alldb คือ 'title','age' ##โดยตั้งชื่อตารางนี้ว่า data_alldb_df

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,0,0
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,0,0
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,0,0
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,0,0
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,0,0

In [34]:
##ดู set ของข้อมูลในตาราง data_alldb_df ในคอลัมน์ title จะเห็นได้ว่าจังหวัดมีค่าที่ผิดปกติ ไม่อยุูในรูปแบบเดียวกัน
set(data_alldb_df['title'])

{'  นาง',
 ' นาง',
 ' นางสาว',
 ' นาย',
 0,
 'Mrs',
 'ชาย',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นาง.',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นางสาว                   ',
 'นาน',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'น่าย',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พระปลัด',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ร.ต.ท.',
 'ร.ต.อ.',
 'รต.',
 'ว่าที่ ร.ต.',
 'ว่าที่ ร.ท.',
 'ว่าที่ร้อยตรี',
 'ส.อ.',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง'}

In [35]:
data_alldb_df = data_alldb_df.rename(columns={'title':'sex'})  #     เปลี่ยนชื่อ คอลัมน์ title ให้ชื่อคอลัมน์เป็น sex
data_alldb_df.head()

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66

In [36]:
data_alldb_df.shape

(38382, 11)

In [37]:
## ทำข้อมูลในตาราง data_alldb_df ในคอลัมน์ title ให้เหมือนกัน
data_alldb_df['sex'].replace({'  นาง':'หญิง',
 ' นาง':'หญิง',
 ' นางสาว':'หญิง',
 ' นาย':'ชาย',
 0:'ไม่ระบุ',
 'Mrs':'หญิง',
 'ชาย':'ชาย',
 'ด.ช.':'ชาย',
 'ด.ญ.':'หญิง',
 'ด.ต.':'ไม่ระบุ',
 'น':'ไม่ระบุ',
 'น.ส':'หญิง',
 'น.ส ':'หญิง',
 'น.ส.':'หญิง',
 'นส':'หญิง',
 'นส.':'หญิง',
 'นส. ':'หญิง',
 'นาง':'หญิง',
 'นาง ':'หญิง',
 'นาง.':'หญิง',
 'นางl':'หญิง',
 'นางสาว':'หญิง',
 'นางสาว ':'หญิง',
 'นางสาว                   ':'หญิง',
 'นาน':'ชาย',
 'นาบ':'ชาย',
 'นาย':'ชาย',
 'นาย ':'ชาย',
 'นาย  ':'ชาย',
 'นาว':'หญิง',
 'นาวสาว':'หญิง',
 'นา่ง':'หญิง',
 'น่าย':'ชาย',
 'พจอ.':'ไม่ระบุ',
 'พระ':'ไม่ระบุ',
 'พระครุ':'ไม่ระบุ',
 'พระปลัด':'ไม่ระบุ',
 'พลฯ':'ไม่ระบุ',
 'ร.ต.':'ไม่ระบุ',
 'ร.ต.ต.':'ไม่ระบุ',
 'ร.ต.ท.':'ไม่ระบุ',
 'ร.ต.อ.':'ไม่ระบุ',
 'รต.':'ไม่ระบุ',
 'ว่าที่ ร.ต.':'ไม่ระบุ',
 'ว่าที่ ร.ท.':'ไม่ระบุ',
 'ว่าที่ร้อยตรี':'ไม่ระบุ',
 'ส.อ.':'ไม่ระบุ',
 'ืนาง':'หญิง',
 'เด็กชาย':'ชาย',
 'เด็กหญิง':'หญิง'}, inplace=True)

In [38]:
set(data_alldb_df['sex'])

{'ชาย', 'หญิง', 'ไม่ระบุ'}

In [39]:
data_alldb_df['sex'] = data_alldb_df[['sex']].fillna('ไม่ระบุ')      # เติมค่าว่างของ sex ด้วย ไม่ระบุ
data_alldb_df.head()

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66

In [40]:
data_alldb_df.shape

(38382, 11)

In [41]:
data_alldb_df['age'] = data_alldb_df['age'].astype(float).astype('Int64')

In [42]:
data_alldb_df.isnull().sum()      # ดูค่า missing

user            0
RowKey          0
date            0
ov              0
phone           0
site            0
time            0
urine           0
PartitionKey    0
sex             0
age             0
dtype: int64

In [43]:
mean_age = data_alldb_df['age'].mean()      # หาอายุเฉลี่ย
mean_age

53.2428742639779

In [44]:
# data_alldb_df['age'] = data_alldb_df['age'].fillna(54)

In [45]:
data_alldb_df

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,ไม่ระบุ,0
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,ไม่ระบุ,0
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,0
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,ไม่ระบุ,0
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,ไม่ระบุ,0

In [46]:
set(data_alldb_df['age'])

{-5789,
 -5441,
 -233,
 -37,
 -32,
 -29,
 0,
 1,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 127,
 138,
 151,
 312,
 315,
 507,
 590,
 591,
 1052,
 2030,
 2046,
 2051,
 2057,
 2063}

In [47]:
data_alldb_df['age'].replace({-5789:54,
 -5441:54,
 -233:54,
 -37:54,
 -32:54,
 -29:54,
 0:54,
 127:54,
 138:54,
 151:54,
 312:54,
 315:54,
 507:54,
 590:54,
 591:54,
 1052:54,
 2030:54,
 2046:54,
 2051:54,
 2057:54,
 2063:54}, inplace=True)

In [48]:
set(data_alldb_df['age'])

{1,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97}

In [49]:
data_alldb_df.isnull().sum()      # ดูค่า missing

user            0
RowKey          0
date            0
ov              0
phone           0
site            0
time            0
urine           0
PartitionKey    0
sex             0
age             0
dtype: int64

In [50]:
data_alldb_df.dtypes    #ดู type ของข้อมูล

user                    object
RowKey                  object
date            datetime64[ns]
ov                       int64
phone                   object
site                    object
time                    object
urine                   object
PartitionKey            object
sex                     object
age                      Int64
dtype: object

In [51]:
data_alldb_df   #ตารางของข้อมูล alldb

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,54
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,ไม่ระบุ,54
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,ไม่ระบุ,54
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,54
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,ไม่ระบุ,54
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,ไม่ระบุ,54

### ข้อมูล hospital_list.xlsx

In [52]:
data_hospital_list = pd.read_excel(os.path.join(path,'hospital_list.xlsx'))    # ไฟล์ที่เราต้องการ     # .read_excel อ่านไฟล์ที่เป็นexcel
data_hospital_list      # ดูหน้าตาข้อมูลว่าเป็นยังไง

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [53]:
data_hospital_list.head()  # ดูหน้าตาข้อมูลว่าหัวตารางเป็นยังไง โดยการใช้ .head()

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG

In [54]:
data_hospital_list.shape    # .shape เพื่อดูขนาดของข้อมูล

(17103, 16)

In [55]:
data_hospital_list.dtypes    #ดู type ของข้อมูล

hcode             object
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

#### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [56]:
data_hospital_list_df= data_hospital_list[['hcode','name','zone_name','province','amphur','tambon','name5']]   ## กำหนดให้ตารางชื่อ data_alldb_df โดยทำการเลือกเก็บข้อมูลในตาราง data_alldb จำนวนทั้งหมด 9  คอลัมน์ 
data_hospital_list_df ## แสดงตาราง

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [57]:
data_hospital_list_df = data_hospital_list_df.rename(columns={'name5':'type'})  #     เปลี่ยนชื่อ คอลัมน์ name5 ให้ชื่อคอลัมน์เป็น type
data_hospital_list_df.head()

,hcode,name,zone_name,province,amphur,tambon,type
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด

In [58]:
data_hospital_list_df.shape

(17103, 7)

## ตรวจสอบค่า Missing ของข้อมูล

### ตาราง data_alldb_df

In [59]:
data_alldb_df.isnull()

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
190,False,False,False,False,False,False,False,False,False,False,False
191,False,False,False,False,False,False,False,False,False,False,False
192,False,False,False,False,False,False,False,False,False,False,False
193,False,False,False,False,False,False,False,False,False,False,False
194,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
39812,False,False,False,False,False,False,False,False,False,False,False
39813,False,False,False,False,False,False,False,False,False,False,False
39814,False,False,False,False,False,False,False,False,False,False,False
39815,False,False,False,False,False,False,False,False,False,False,False
39816,False,False,False,False,False,False,False,False,False,False,False

In [60]:
data_alldb_df.isnull().any()

user            False
RowKey          False
date            False
ov              False
phone           False
site            False
time            False
urine           False
PartitionKey    False
sex             False
age             False
dtype: bool

### ตาราง data_hospital_list

In [61]:
data_hospital_list_df.isnull()

       hcode   name  zone_name  province  amphur  tambon   type
0      False  False      False     False   False   False  False
1      False  False      False     False   False   False  False
2      False  False      False     False   False   False  False
3      False  False      False     False   False   False  False
4      False  False      False     False   False   False  False
...      ...    ...        ...       ...     ...     ...    ...
17098  False  False      False     False   False   False  False
17099  False  False      False     False   False   False  False
17100  False  False      False     False   False   False  False
17101  False  False      False     False   False   False  False
17102  False  False      False     False   False   False  False

[17103 rows x 7 columns]

In [62]:
data_hospital_list_df.isnull().any()

hcode        False
name          True
zone_name     True
province     False
amphur        True
tambon        True
type          True
dtype: bool

#### แทน missing ด้วยค่าที่เหมาะสม

**```โดยคำสั่ง fillna() ของตาราง data_hospital_list```**

In [63]:
data_hospital_list_df= data_hospital_list_df.fillna(value={'name':'ไม่ระบุ','zone_name':'ไม่ระบุ','amphur':'ไม่ระบุ','tambon':'ไม่ระบุ','type':'ไม่ระบุ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง data_hospital_list_df
data_hospital_list_df # แสดงตาราง data_hospital_list_df

,hcode,name,zone_name,province,amphur,tambon,type
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [64]:
data_hospital_list_df.isnull().any()    # ดูค่า missing

hcode        False
name         False
zone_name    False
province     False
amphur       False
tambon       False
type         False
dtype: bool

## merge ตาราง data_alldb_df กับ ตาราง data_hospital_list_df

In [65]:
data = data_alldb_df.merge(data_hospital_list_df,how='left', left_on='site',right_on='hcode')
data

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,type
0,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,54,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38378,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38379,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38380,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38381,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### ตรวจสอบค่า Missing ของตาราง data

In [66]:
data.isnull().any()

user            False
RowKey          False
date            False
ov              False
phone           False
site            False
time            False
urine           False
PartitionKey    False
sex             False
age             False
hcode            True
name             True
zone_name        True
province         True
amphur           True
tambon           True
type             True
dtype: bool

In [67]:
data.isnull().sum()

user             0
RowKey           0
date             0
ov               0
phone            0
site             0
time             0
urine            0
PartitionKey     0
sex              0
age              0
hcode           76
name            76
zone_name       76
province        76
amphur          76
tambon          76
type            76
dtype: int64

In [68]:
data[data['hcode'].isnull()]        # ดูข้อมูลที่เป็นค่า missing ใน hcode

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,type
30,05039,6F6ED841-7574-4C1C-AF10-CC6E2658E718,2022-03-28,0,"iPhone11,8",45972,10-36-41,ขุ่น,00001,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
795,05353,7A4BD7DC-5BD3-4928-B57F-CE7C86E32DAE,2022-03-19,4,"iPad13,1",75757,17-22-08,ขุ่น,00006,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
921,05353,218CB548-E5F1-4F5D-87C5-36EC2256B7CB,2022-03-19,4,"iPad13,1",75757,17-20-05,ปกติ (เหลืองใส),00007,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1681,05353,7CDA4D3C-6E12-4CF8-A94C-76E5CE4E9202,2022-03-19,4,"iPad13,1",75757,17-14-16,ปกติ (เหลืองใส),00012,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1806,05353,6FC7AE57-7365-4DCC-A656-772CBDDDA882,2022-03-19,0,"iPad13,1",75757,17-15-16,ขุ่น,00013,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38378,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38379,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38380,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38381,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### แทนค่า Missing ของตาราง data

In [69]:
data_updated = data.fillna(value={'hcode':'ไม่ระบุ','name':'ไม่ระบุ','zone_name':'ไม่ระบุ','province':'ไม่ระบุ','amphur':'ไม่ระบุ','tambon':'ไม่ระบุ','type':'ไม่ระบุ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง data
data_updated # แสดงตาราง data_updated

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,type
0,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,54,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38378,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38379,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38380,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38381,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [70]:
print(data_updated.shape)
data_updated.head()

(38382, 18)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,type
0,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,54,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล

In [71]:
data_updated.isnull().any()

user            False
RowKey          False
date            False
ov              False
phone           False
site            False
time            False
urine           False
PartitionKey    False
sex             False
age             False
hcode           False
name            False
zone_name       False
province        False
amphur          False
tambon          False
type            False
dtype: bool

In [72]:
data_updated.isnull().sum()     # ดูค่าว่าง

user            0
RowKey          0
date            0
ov              0
phone           0
site            0
time            0
urine           0
PartitionKey    0
sex             0
age             0
hcode           0
name            0
zone_name       0
province        0
amphur          0
tambon          0
type            0
dtype: int64

## ตารางที่จะนำไปใช้งาน

In [73]:
data_updated

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,type
0,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,54,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38378,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38379,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38380,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38381,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

## นำข้อมูลไปใช้ทำ Dashboard

In [74]:
data_updated.to_csv(os.path.join(path,'Data.csv'))   # save ตารางให้เป็นไฟล์ csv เข้าไปเก็บไว้ใน drive เพื่อนำข้อมูลไปใช้ทำ Dashboard