<a href="https://colab.research.google.com/github/Jiraporn-klobrat/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Exam: งานกลุ่ม Final ที่อาจารย์สุ่มให้

ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx

( ดาวน์โหลดจาก https://drive.google.com/.../1D... )

โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้
* user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* RowKey เป็น String
* date เป็น YYYY-MM-DD
* phone เป็น String
* site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* time เป็น hh-mm-ss
* urine มีค่า String
* ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
* PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx

โดยข้อมูลสำคัญที่ต้องแสดงคือ
* จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)

**```ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565```**

## Import Data

In [2]:
import pandas as pd #นำเข้าฟังชันก์ pandas โดยกำหนดให้ชื่อ pd # pandas เป็น Package ที่ใช้เกี่ยวกับการจัดการข้อมูลที่เป็นตาราง , เรียกใช้โดยการ import แล้วตามด้วยชื่อ Package
import os    # เป็น package ที่เอาไว้จัดการไฟล์และเอาไว้ดูที่มาของไฟล์หรือ path

In [3]:
from google.colab import drive    # เชื่อมต่อกับ google drive ที่เราเก็บข้อมูลไว้
drive.mount('/content/drive')
path = '/content/drive/My Drive/Final_Exam'    #ระบุให้ชี้ไปที่โฟลเดอร์ใน google drive ที่เราเซฟไฟล์ไว้ คือ โฟลเดอร์ Final_Exam

Mounted at /content/drive

### ข้อมูล alldb.csv

In [4]:
data_alldb = pd.read_csv(os.path.join(path,'alldb.csv'))    # ไฟล์ที่เราต้องการ  # .read_csv อ่านไฟล์ที่เป็นcsv
data_alldb  # ดูหน้าตาข้อมูลว่าเป็นยังไง

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [5]:
data_alldb.head()  # ดูหน้าตาข้อมูลว่าหัวตารางเป็นยังไง โดยการใช้ .head()

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed

In [6]:
data_alldb.shape    # .shape เพื่อดูขนาดของข้อมูล

(40035, 14)

In [7]:
data_alldb_df = data_alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']]    ## กำหนดให้ตารางชื่อ data_alldb_df โดยทำการเลือกเก็บข้อมูลในตาราง data_alldb จำนวนทั้งหมด 9  คอลัมน์ 
data_alldb_df   ## แสดงตาราง

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี

In [8]:
data_alldb_df.dtypes    #ดู type ของข้อมูล

user            object
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

### ข้อมูล hospital_list.xlsx

In [9]:
data_hospital_list = pd.read_excel(os.path.join(path,'hospital_list.xlsx'))    # ไฟล์ที่เราต้องการ     # .read_excel อ่านไฟล์ที่เป็นexcel
data_hospital_list      # ดูหน้าตาข้อมูลว่าเป็นยังไง

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [10]:
data_hospital_list.head()  # ดูหน้าตาข้อมูลว่าหัวตารางเป็นยังไง โดยการใช้ .head()

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG

In [11]:
data_hospital_list.shape    # .shape เพื่อดูขนาดของข้อมูล

(17103, 16)

In [12]:
data_hospital_list.dtypes    #ดู type ของข้อมูล

hcode             object
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

## ตรวจสอบค่า Missing ของข้อมูล

In [25]:
data_alldb_df.isnull()

        user  RowKey   date  phone   site   time  urine     ov  PartitionKey
0      False    True   True   True   True   True   True   True          True
1      False   False  False  False  False  False   True   True          True
2       True   False   True   True   True   True   True   True          True
3      False   False  False  False  False  False  False  False          True
4      False   False  False  False  False  False  False   True          True
...      ...     ...    ...    ...    ...    ...    ...    ...           ...
40030   True   False   True  False  False   True   True   True         False
40031   True   False   True  False  False   True  False  False         False
40032   True   False   True  False  False   True  False  False         False
40033   True   False   True  False  False   True   True   True         False
40034   True   False   True  False  False   True  False  False         False

[40035 rows x 9 columns]

In [26]:
data_alldb_df.isnull().any()

user            True
RowKey          True
date            True
phone           True
site            True
time            True
urine           True
ov              True
PartitionKey    True
dtype: bool

In [28]:
data_updated = data_alldb_df.fillna(value={'user':'00000','RowKey':'ไม่ทราบ','date':'0000-00-00','phone':'ไม่ทราบ','site':'00000','time':'00-00-00','urine':'ไม่ทราบ','ov':'0','PartitionKey':'00000'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง data5
data_updated # แสดงตาราง data_alldb_updated

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,ไม่ทราบ,0000-00-00,ไม่ทราบ,00000,00-00-00,ไม่ทราบ,0,00000
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,ไม่ทราบ,0,00000
2,00000,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,0000-00-00,ไม่ทราบ,00000,00-00-00,ไม่ทราบ,0,00000
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,00000
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
40030,00000,6B5FA20F-190E-4021-8547-C12308024C6C,0000-00-00,"iPhone13,4",01234,00-00-00,ไม่ทราบ,0,เกษศิรินทร์ ไชยลาภ
40031,00000,F48C51C0-A345-40D6-93F4-46213267E1B1,0000-00-00,"iPhone10,5",01234,00-00-00,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,00000,A986BDAA-6D7C-4017-8E62-A3C104E946B9,0000-00-00,"iPhone13,4",01234,00-00-00,ปกติ (เหลืองใส),1,เสรี
40033,00000,bbuogxulur.png,0000-00-00,Samsung SM-A115F,01234,00-00-00,ไม่ทราบ,0,เสรี
40034,00000,zttpqogiso.png,0000-00-00,Samsung SM-A115F,01234,00-00-00,ปกติ (เหลืองใส),1,เสรี

In [29]:
set(data_updated['PartitionKey'])

{'00831',
 '00903',
 '00607',
 '01152',
 '03503',
 '00441',
 '82',
 '04813',
 '01813',
 '820',
 '00239',
 '00983',
 '99444',
 '03054',
 '03563',
 '01396',
 '575',
 '00645',
 '08924',
 '01752',
 'ถ',
 '08957',
 '02919',
 '00877',
 '02652',
 '00934',
 '852',
 '01368',
 '01949',
 '00621',
 '00714',
 '05831',
 '01741',
 '02925',
 '01715',
 '01008',
 '06032',
 '549',
 '01691',
 '02058',
 '04666',
 '05127',
 '02486',
 '03004',
 '189',
 '01965',
 '03058',
 '00088',
 '02230',
 '02485',
 '01940',
 '02062',
 '05220',
 '02431',
 '54',
 '04019',
 '00661',
 '02223',
 '03239',
 '01668',
 '02735',
 '01528',
 'mksAdn005',
 '00632',
 '02207',
 '02077',
 '02190',
 '00391',
 '03199',
 '61',
 '00324',
 '196',
 '01285',
 '02949',
 '59',
 '00558',
 '01185',
 '00068',
 '01074',
 '01120',
 '01325',
 '01854',
 '00435',
 '08986',
 '00797',
 '08965',
 '02370',
 '01839',
 '00686',
 '01298',
 '05104',
 '613',
 '00278',
 'eee',
 '00205',
 'Eee',
 '01519',
 '01898',
 '00893',
 '02384',
 '00314',
 '08123',
 '01424',
 '01690',
 '03003',
 '04633',
 '00360',
 '03410',
 '00541',
 '157',
 '01856',
 '02727',
 '02982',
 '00300',
 '00990',
 '00965',
 '736',
 '02757',
 '00420',
 '00513',
 '01919',
 '02790',
 '01043',
 '02908',
 '02849',
 '03593',
 '01341',
 'w.soodboonma',
 '00809',
 '01363',
 '03181',
 '03053',
 '01011',
 '03507',
 '00638',
 '00787',
 '01860',
 '01461',
 '03217',
 '0018',
 '01920',
 '04653',
 '01595',
 '02340',
 '02612',
 '02541',
 '09025',
 '1370',
 '00733',
 '01104',
 '00869',
 '02265',
 '06028',
 '1382',
 '301',
 '01694',
 '00485',
 '08975',
 '03132',
 '05960',
 '20044',
 'w.sood',
 'a0001',
 '02066',
 '02510',
 '00362',
 '00501',
 '0003',
 '01557',
 '02563',
 '04692',
 '02199',
 '04090',
 '00595',
 '01663',
 '02749',
 '01081',
 '09006',
 '01102',
 '06045',
 '01488',
 '11163',
 '02191',
 '00460',
 '02096',
 '1095',
 '00123',
 '01828',
 '829',
 '01930',
 '02387',
 '00660',
 '00162',
 '02014',
 '01190',
 '01934',
 '02950',
 '00223',
 '04012',
 '00599',
 '01485',
 '03964',
 '06043',
 '00028',
 '00284',
 '06015',
 '12',
 '02578',
 '02329',
 '00161',
 '03236',
 '06505',
 '01628',
 '04785',
 '368',
 '03325',
 '00871',
 'to001',
 '01754',
 '05997',
 '00394',
 '01296',
 '08351',
 '32',
 '0090',
 '01077',
 '02079',
 '00217',
 '01262',
 '03954',
 '02666',
 '03361',
 '10996',
 '02361',
 '01787',
 '866',
 'jjj',
 '00011',
 '01404',
 '02708',
 '00079',
 '03979',
 '08998',
 '01418',
 '00057',
 '00180',
 '02057',
 '01720',
 '01776',
 '00305',
 '00832',
 '08925',
 '02335',
 '00301',
 '01986',
 '02166',
 '04022',
 '02034',
 '03324',
 '02616',
 '01998',
 '01492',
 '01971',
 'yyy',
 '02376',
 '00861',
 '00922',
 '02084',
 '00748',
 '02401',
 '02965',
 '08926',
 'tt001',
 '655',
 '04036',
 '03925',
 '02216',
 '01064',
 '02287',
 '02813',
 '08920',
 '00029',
 '02189',
 '02439',
 '448',
 '01128',
 '01686',
 '02228',
 '00084',
 '01487',
 '05115',
 '08995',
 '01366',
 '01274',
 '01544',
 '02472',
 '06021',
 '05122',
 '02025',
 '02559',
 '00683',
 '03093',
 '02610',
 '03130',
 '01275',
 '02990',
 '0033',
 '00469',
 '01306',
 '00539',
 '03565',
 '01926',
 '08982',
 '05318',
 '04683',
 '05117',
 '270',
 '01072',
 '01539',
 '3450101522372',
 '985',
 '01276',
 '01524',
 '01429',
 '00072',
 '1334',
 '264',
 '02544',
 '02137',
 '03950',
 '02624',
 '00413',
 '03298',
 '02732',
 '02421',
 '00991',
 '00115',
 '01272',
 '03074',
 '03398',
 '02799',
 '253',
 '01342',
 '04116',
 '03104',
 '01350',
 '03339',
 '02973',
 '999',
 '02962',
 '04136',
 '147',
 '00445',
 '00283',
 '02451',
 '02470',
 '01154',
 '06721',
 '02874',
 '01094',
 '02893',
 '1352',
 '00708',
 '00750',
 '01555',
 '00899',
 '02332',
 '02943',
 '05094',
 '00798',
 '02992',
 '01349',
 '01475',
 '04638',
 '01471',
 '03981',
 '01657',
 '03107',
 '06014',
 '00203',
 '02257',
 '05147',
 '03347',
 '08911',
 '02042',
 '02086',
 '09011',
 'Xxx',
 '02482',
 '04186',
 '01705',
 '01569',
 '02779',
 '00896',
 '02464',
 '02336',
 '02701',
 '01864',
 '01496',
 '00993',
 '02926',
 '05302',
 '00150',
 '03136',
 '04667',
 '10',
 '01826',
 '02995',
 '66666',
 '01831',
 '00568',
 '01015',
 '08993',
 '10968',
 '02523',
 '03042',
 '00849',
 '01780',
 '01031',
 '10983',
 '01761',
 '02824',
 '01037',
 '02632',
 '06020',
 'test07',
 '01671',
 '01804',
 '02244',
 '02680',
 '01084',
 '00376',
 '00151',
 '0000',
 '01066',
 '01236',
 '01651',
 '00408',
 '01674',
 '03105',
 '00988',
 '01689',
 '02156',
 '00067',
 '02312',
 '00736',
 '03515',
 '915',
 'test06',
 '00089',
 '00703',
 '03096',
 '00490',
 '04180',
 '05110',
 '863',
 '01991',
 '01041',
 '09009',
 '04017',
 '01789',
 '03378',
 '00295',
 '02072',
 '02011',
 '72093',
 '01472',
 '263',
 '1261',
 '03997',
 '06047',
 '03207',
 '00218',
 '00231',
 '01975',
 '01845',
 '01191',
 '01700',
 '00226',
 '02808',
 '01216',
 '00947',
 '00164',
 '00776',
 '01504',
 '02647',
 '01874',
 '00917',
 '03048',
 '03154',
 '02085',
 '02484',
 '45972',
 '01735',
 '01748',
 'p0002',
 '00369',
 '05223',
 '02238',
 '01885',
 '01928',
 '06005',
 '03328',
 '08596',
 '02379',
 '00400',
 '04075',
 '396',
 '05202',
 '750',
 '01425',
 '01841',
 '00767',
 '02380',
 '00950',
 '08976',
 '03168',
 '01912',
 '10967',
 '01824',
 '00208',
 '01080',
 '02861',
 '00332',
 'test',
 '164',
 '02165',
 '00540',
 '01755',
 'ppp',
 '491',
 '01226',
 '00974',
 '08950',
 '193',
 '01397',
 '00781',
 '00702',
 '01062',
 '01625',
 '00319',
 '0095',
 '01953',
 '00419',
 '04686',
 '09008',
 'vvv',
 '00532',
 '01581',
 '01743',
 '01127',
 '03804',
 '00\u200b175',
 '01535',
 '00076',
 '02434',
 '08990',
 '153',
 '00346',
 '01660',
 '02119',
 '11000',
 '1302',
 '01769',
 '05339',
 '01992',
 '00982',
 '00033',
 '03055',
 '02397',
 '01678',
 '05263',
 '00174',
 '02356',
 '01579',
 '00056',
 '01996',
 '09013',
 '01827',
 '02946',
 '04738',
 '00867',
 '04646',
 '10962',
 '02980',
 '799',
 '03437',
 '00318',
 '00918',
 '01616',
 '02558',
 '01312',
 '03461',
 '00253',
 '606',
 '00853',
 '00969',
 '01394',
 '01850',
 '02531',
 '04179',
 '04654',
 '00008',
 '01725',
 '02031',
 '658',
 '627',
 '02975',
 '00936',
 '01268',
 '00966',
 '00090',
 '01087',
 '03238',
 '00288',
 '04662',
 '02067',
 '00726',
 '01048',
 '03487',
 '01124',
 '02060',
 '05105',
 '1357',
 'xxxxx',
 'gy',
 '00786',
 '09035',
 '651',
 '05308',
 '01649',
 '01800',
 '01865',
 '00808',
 '00892',
 '00958',
 '00213',
 '00908',
 '02676',
 '02584',
 '02422',
 '06012',
 '05120',
 '01234',
 '02886',
 '06026',
 '01186',
 '00975',
 '01744',
 '01235',
 '00075',
 '23416',
 '01883',
 '02971',
 '00063',
 '00636',
 '05343',
 '02638',
 '03711',
 '01279',
 '01148',
 '03273',
 '00805',
 '06725',
 '01442',
 '03399',
 '01484',
 '04627',
 '01935',
 '02008',
 '02825',
 '02149',
 '02461',
 '01184',
 '02768',
 '00872',
 '05195',
 '01995',
 '01497',
 '08929',
 '73',
 '02928',
 '00624',
 '00430',
 '00407',
 '09002',
 ' 0000',
 '00058',
 '01399',
 '01847',
 '01038',
 'ddd',
 '01943',
 '00647',
 '00618',
 '03313',
 '01575',
 '04777',
 '00241',
 '00862',
 '00478',
 '01338',
 '03433',
 '00865',
 '00629',
 '00014',
 '00315',
 '02952',
 '03538',
 '00178',
 '04687',
 '00192',
 '00715',
 '02726',
 '08996',
 '00684',
 '03612',
 '02232',
 '00277',
 '02999',
 '02672',
 '00594',
 '00127',
 '04052',
 '02202',
 '01250',
 '06001',
 '10011',
 '00716',
 '02095',
 '00230',
 '00410',
 '00828',
 '08964',
 '01116',
 '01548',
 '00503',
 '00483',
 '00777',
 '01401',
 '00005',
 '00939',
 '00984',
 '01765',
 '01711',
 '02639',
 '05118',
 '00986',
 '0059',
 '01868',
 '01210',
 '00938',
 '01501',
 '02059',
 '01816',
 '04117',
 '06000',
 '08743',
 '00297',
 '05098',
 'm001',
 '08900',
 '01626',
 '05238',
 '1',
 '00698',
 '03144',
 'xxxxxx',
 '02517',
 '03296',
 '302',
 '04793',
 '04511',
 '01016',
 '02981',
 '00664',
 '08961',
 '08969',
 '03177',
 '015-19',
 '00499',
 '02210',
 '01534',
 '03078',
 '03510',
 '01775',
 '729',
 'adnmks',
 'gg',
 '02004',
 '0075',
 '04693',
 '00694',
 '00019',
 '04182',
 '01506',
 'mksAdn',
 '01183',
 '02124',
 '00535',
 '03206',
 '00609',
 '04106',
 'qqq',
 '09022',
 '01852',
 '00494',
 '01948',
 '01203',
 '02100',
 '03425',
 '02028',
 '01927',
 '88888',
 '05119',
 '00220',
 '00219',
 '01607',
 '01661',
 '04658',
 '1378',
 'test2',
 '00077',
 '01585',
 '0001',
 '00883',
 '01936',
 '00843',
 '03309',
 '02405',
 '04621',
 '00804',
 '04754',
 '05313',
 '00340',
 '02480',
 '00451',
 '00000',
 '01739',
 'มยุรา',
 '00898',
 '00792',
 '00943',
 '01255',
 '02426',
 '239',
 '05235',
 '00154',
 '01543',
 '01443',
 '00633',
 '00732',
 '00399',
 '00860',
 '04193',
 '01416',
 '903',
 '08974',
 '00378',
 '01989',
 '01803',
 '02866',
 '02176',
 '238',
 '251',
 '01114',
 '751',
 '00553',
 '01997',
 '02737',
 '00298',
 '04607',
 '00545',
 '853',
 '08909',
 '02304',
 '09010',
 'Ttt',
 '01611',
 '00643',
 '00093',
 '04187',
 '08939',
 '02350',
 '00906',
 '02489',
 '03527',
 '01107',
 '02429',
 '00328',
 '9',
 '01817',
 '02763',
 '00579',
 '00581',
 '01463',
 '04185',
 '06062',
 'adnmks88',
 '01685',
 '02345',
 '04634',
 '01173',
 '00640',
 '04020',
 '02623',
 '04811',
 '00432',
 '08944',
 '01884',
 '02821',
 '02153',
 '03211',
 '00577',
 '00837',
 '00759',
 '125',
 '00256',
 '01526',
 '01959',
 '01683',
 '04174',
 '03548',
 'wwe',
 '10975',
 '01760',
 '01162',
 '01347',
 '02237',
 '03508',
 '04188',
 '26',
 '01439',
 '02142',
 '02408',
 '02197',
 '01702',
 '03547',
 '02879',
 '00763',
 '00330',
 '01174',
 '02071',
 '03541',
 '0086',
 'k002',
 '03263',
 '01103',
 '01237',
 '009',
 '05132',
 '01561',
 '01407',
 '04622',
 '02564',
 '01512',
 '01886',
 '00559',
 'tt',
 '00511',
 '02884',
 '03234',
 '01305',
 '00243',
 '00719',
 '03825',
 '01277',
 '01601',
 '01680',
 '06722',
 '01560',
 '01359',
 '01249',
 '00421',
 '02789',
 '02807',
 '01558',
 '02420',
 '00658',
 '01836',
 '03292',
 '00851',
 '00159',
 '09036',
 '01409',
 '00449',
 '01447',
 '05219',
 '1330',
 '09003',
 '019',
 '00728',
 '01848',
 '09021',
 '00538',
 '04644',
 '00641',
 '03310',
 '06050',
 '00238',
 ...}

In [31]:
data_updated1 = data_updated[data_updated['PartitionKey']==]
data_updated1.head(1)

KeyError: ignored

In [19]:
#data_alldb['user'] = pd.to_numeric(data_alldb['user'], errors='coerce' )    # เปลี่ยน tpye ข้อมูล  errors='coerce' การแยกวิเคราะห์ที่ไม่ถูกต้องจะถูกตั้งค่าเป็น NaN
#data_alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,4.857000e+03,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3.450102e+12,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3.450102e+12,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [23]:
#data_alldb[data_alldb['user'].isnull()].count() #ดูค่าว่างในคอลัมน์ user
#data_alldb['user'].mean()  #ใช้คำสั่ง .mean เพื่อดูค่าเฉลี่ยของuser

20333382191.958363

In [15]:
data_hospital_list.isnull()

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17099,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17100,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17101,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17102,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [16]:
data_hospital_list.isnull().any()

hcode            False
name              True
zone_code        False
zone_name         True
provincecode      True
province         False
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

In [ ]:
data_updated = data_alldb.fillna(value={'user':'ไม่ทราบ','RowKey':'ไม่ทราบ','care':'ไม่ทราบ','date':'ไม่ทราบ','ov':'ไม่ทราบ','phone':'ไม่ทราบ','site':'ไม่ทราบ','time':'ไม่ทราบ','urine':'ไม่ทราบ','pid':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง data5
data_updated # แสดงตาราง data_alldb_updated

In [17]:
#data = data_alldb.merge(data_hospital_list,how='left', left_on='site',right_on='hcode')
#data

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,...,1.0,เมืองกาฬสินธุ์,20.0,นาจารย์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),...,1.0,เมืองร้อยเอ็ด,10.0,โนนรัง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,รอ,RET
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),...,1.0,เมืองร้อยเอ็ด,10.0,โนนรัง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,รอ,RET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,...,6.0,บางปะอิน,5.0,บางกระสั้น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อย,AYA
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),...,6.0,บางปะอิน,5.0,บางกระสั้น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อย,AYA
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),...,6.0,บางปะอิน,5.0,บางกระสั้น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อย,AYA
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,...,6.0,บางปะอิน,5.0,บางกระสั้น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อย,AYA
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),...,6.0,บางปะอิน,5.0,บางกระสั้น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อย,AYA

In [18]:
#data.isnull().any()

Unnamed: 0       False
user              True
RowKey            True
care              True
date              True
ov                True
phone             True
site              True
time              True
urine             True
pid               True
PartitionKey      True
title             True
age               True
hcode             True
name              True
zone_code         True
zone_name         True
provincecode      True
province          True
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool